*{
	text-decoration: none;
	outline: 0;
	margin: 0 auto;
	padding: 0;
	list-style-type: none;
}
body{
	font-family: raleway;
	overflow-x: hidden;	
}
.headertop{
	background: #3776C3;
	font-family: raleway;
	color: white;

}

.number{
	color: white;
}
.number:hover{
	color: #FFDF00;
	text-decoration: none;
}
.infoheader{
	padding-top: 10px;	
}
.menu{
	background: #4382CE;
	color: white;
	box-shadow: 0px 11px 14px -10px rgba(0,0,0,0.75);
	z-index: 6;
	height: 80px;
}
.cajalogo{
	color: white; 
	margin-left: 1px;

}
.logoeasy{
	position: absolute; 
	top: 1px;
	height: 70px;
}
.ancornav{
	color: white;
}
.ancormenuresponsive{
	color: white;
}
.cajacalbanner{
	background: #3973B8; 
	height: 888px; 
	margin-top: -23px;
}
.cajacalculadora{
	height: 200px;
}
.contenedorcalculadora{
	float: left;
	z-index: 1;
	height: 500px; 
	margin-top: 20px;
}
.seccioncalculadora{
	margin-top: 20px;
}
.menudash{
	color: white; 
	font-weight: 500;
	 margin-right: -465px;
}
.iconomenuresponsive{
	margin-top: 11px;     
	margin-left: 20px; 
	font-size: 20px; 
	position: absolute;
    top: 20px;
    right: 22px;
	/*display: none;*/
}
.menu-responsive{
	color: white; 
	font-weight: 500; 
	margin-right: 47px;
	width: 200px;
	height: 300px;
	background: #4088dc; 
	text-align: right; 
	position: absolute;
	float: right;
    right: -40px;
    top: 80px;
    display: none;
}
.iconomenuresponsive{
	margin-top: 11px;     
	margin-left: 20px;
	font-size: 20px; 
	display: none;
}
.linkmenu{
	color: white;
}
.modelocalculadora img{
	    margin-left: -5px;
	    
}
.modelocalculadora{
	float: right;
}
.requisitos{
	display: flex;
	flex-direction: row; 
	margin: 10px;
}
.logo1{
	position: absolute;
    top: -1px;
    width: 200px; float: left;
}
.botonregistrate{
  cursor: pointer; 
  float: right; 
  border-radius: 100px;
  background: #FFDF00; 
  color: black; 
  width: 230px;
  z-index: 15;
}
.botoniniciarsesion{
	cursor: pointer; 
	float: left;
	border-radius: 100px; 
	background: #FFDF00; 
	color: black;
	width: 230px;
	z-index: 15;
}
.contenedorrequisitos{
	width: 100%; 
	height: 320px; 
	background: #FFDF00;
}
.cajarequisitos{
	padding-top: 30px;
}
.cajarequisitos h2{
	font-family: raleway; 
	font-weight: 900; 
	text-align: center; 
	color: white; 
	font-size: 40px;
}
.requisitoscaja{
	width: 400px; 
	height: 200px;  
	margin: 12px; 
	padding: 55px;
	text-align: center;
	background: white;
	border-radius: 24px;
}
.iconorequisito{
	color: #3973B8;
	font-size: 32px;
}
.requisitotexto{
	font-family: raleway;
	font-size: 20px; 
	line-height: 20px;
	margin-top: 9px;
}
.iconorequisito:hover{
	color: black;
	cursor: pointer;
}
.requisitoscaja:hover{
	box-shadow: -2px 1px 11px 0px;
}
.contenedorpasos{
	width: 100%; 
	height: 500px;
	background: white;
}
.cajapasos{
	padding-top: 30px;
}
.cajapasos h1{
	font-family: raleway; 
	font-weight: 900; 
	text-align: center; 
	color: #7E7E7E; 
	font-size: 40px;
}
.titulocalculadora{
	font-weight: 600;
	font-family: raleway; 
	color: white; 
	font-size: 20px; 
	margin-top: 10px;
	text-align: center;
}
.pasosparacredito1{
	display: flex;
	flex-direction: row;
}
.pasosparacredito2{
	display: flex;
	flex-direction: row;
}
.contenidopasos{
	color: white;
	padding-top: 25px;
	font-size: 22px;
	width: 300px;
	height: 100px;
	background: #FFDF00;
	margin-top: 20px;
	position: relative;
}
.contenidopasos p{
	margin-top: 7px; 
	font-weight: 600;
	margin-left: 43px;
}
.circlecontenidopasos1{
	border-radius: 100%;
	background: #4382CE;
	width: 50px;
	height: 50px;
	position: absolute;
    left: -22px;
    color: white;
    text-align: center;
    font-family: raleway;
}
.circlecontenidopasos1 h6{
	text-align: center; 
	font-family: raleway; 
	font-size: 35px; 
	color: white;
}
.contedortotalpasos{
	margin-top: 50px
}
.filapasos{
	margin-bottom: 20px;
}
.elegirnoscaja{
	background: #3973B8; 
	height: 500px; 
	width: 100%;
}
.elegirnoscaja h6{
	color: white; 
	font-weight: 800; 
	text-align: center;
	padding-top: 40px; 
	font-size: 40px;
}
.ssl{
	width: 100%; 
	height: 300px;
}
.circlecontenidopasos1:hover{
	cursor: pointer;
	box-shadow: -2px 1px 11px 0px;
}.quienessomos{
	background: #F9F9F9; 
	height: 760px; 
	width: 100%;
}
.contenedorporqueelegirnos{
	margin: 0 auto;
}
.porquelegirnosizquierda{
	float: left; 
	padding-left: 94px;
}
.porquelegirnosderecha{
	float: right;
}
.porcentaje{
	font-weight: 800;  
	margin-left: 404px; 
	margin-top: 3px;
}
.cajasdeporquelegirnos{
	position: relative;
	margin: 52px;
}
.cajasdeporquelegirnos h5{
font-family: raleway; 
color: white; 
font-weight: 600
}
.barraporquelegirnos{
	position: absolute;
	background: #FFDF00; 
	border-radius: 60px; 
	width: 500px;
	height: 30px;
}
.contenedorcarrusel{
		width: 100%;
}
.cajacontenedorcontactoabajo{
	float: left;
}
.cajacontenedorcontactoabajo h1{
	color: #4382CE; 
	font-family: raleway;
	font-weight: 800; 
	font-size: 30px;
}
.iconoscontacto{
	color: #FFDF00; 
	padding-top: 17px; 
}
.botoncontacto{
	width: 300px; 
	background: #FFDF00; 
	color: black;
	border-color: #FFDF00;
}
.cajaformcontacto{
	float: right;
}
.espacioformcontacto{
	height: 20px;
}
.tituloinformacioncontacto{
	color: #3973B8;
}
.informacioncontacto{
	text-transform: initial; 
	line-height: 22px;
	font-size: 18x;
}
.contactoabajo{
	width: 100%; 
	height: 400px; 
	background: white; 
	padding-top: 60px;
}
.facebook{
	width: 30px; 
	height: 30px; 
	background-color: #FFDF00;
}
.instagram{
	width: 30px; 
	height: 30px; 
	background-color: #FFDF00;
	    margin-left: -47px;
}
.instagram:hover{
	border-radius: 100px;
}
.iconoface{
	color: #7E7E7E;
	padding-top: 6px;
}
.iconoig{
		color: #7E7E7E;
	padding-top: 6px;
}
.iconoface:hover{
	color: white;
}
.facebook:hover{
	border-radius: 100px;
	cursor: pointer;
}
.direccion1{
		width: 30px; 
	height: 30px; 
	background-color: #FFDF00;
}
.iconoadress{
		color: #FFDF00;
	padding-top: 6px;
}
.iconoadress:hover{
	color: white;
}
.direccion1:hover{
	border-radius: 100px;
	cursor: pointer;
}
.contenedorfooter{
	text-align: center;
	padding-top: 20px;
}
.footer{
	background: #3973B8; 
	width: 100%; 
	height: 300px;
}
.logofooter{
	position: absolute; 
	top: -1px;
	float: left;
}
.textoeasyfooter{
	font-family: raleway;
	color: white;
	font-size: 15px; 
	text-align: justify; 
	padding-top: 18px;
}
.tittlefollowfooter{
	font-family: raleway;
	float: left; 
	color: white; 
	font-weight: 800;
}
.cajasocialmediafooter{
	display: flex; 
	flex-direction: row; margin: 10px;
}
.infocontactofooter{
	color: white; 
	font-family: raleway; 
	font-weight: 800; 
	font-size: 25px; 
	padding-top: 10px; 
	float: left;
}
.direccionfooter{
	float: left;
}
.adressfooter{
	color: white;     
	margin-left: 20px;
}
.footerbottom{
	background: #FFDF00; 
	width: 100%;
	 height: 30px;
}
.footerbotton h6{
	text-align: center; 
	color: #7E7E7E; 
	font-family: raleway;
	 font-weight: 800;
	  padding-top: 5px; 
	  font-size: 10px;
}
.modeloquienessomos{
	float: left; 
	z-index: 1;
}
.imgmodeloquienessomos{
	height: 760px;
}
.quienesomostexto{
	float: right;
	 z-index: 1;
}
.quienesomostexto h6{
	color: #3973B8; 
	font-size: 45px;
	font-family: raleway; 
	font-weight: 900; 
	text-align: center; 
	margin-top: 60px;
}
.cajaquienesson{
	text-align: justify; 
	font-size: 20px; 
	padding: 42px; 
	font-family: raleway;
}
.cajaquienesson p{
	font-size: 18px;
}
.cajaquienesson h6{
	color: #3973B8; 
	font-size: 45px; 
	font-family: raleway; 
	font-weight: 900;
}
/*ESTILOS FORMULARIO*/
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

html{
  background-size: cover;
  height:100%;
}

#feedback-page{
	text-align:center;
}

#form-main{
	width:100%;
	float:left;
	padding-top:0px;
}

#form-div {
	background-color:rgba(72,72,72,0.4);
	padding-left:35px;
	padding-right:35px;
	padding-top:35px;
	padding-bottom:50px;
	width: 450px;
	float: left;
	left: 50%;
	position: absolute;
  margin-top:30px;
	margin-left: -260px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

.feedback-input {
	color:#3c3c3c;
	font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: #fbfbfb;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  border: 3px solid rgba(0,0,0,0);
}

.feedback-input:focus{
	background: #fff;
	box-shadow: 0;
	border: 3px solid #3498db;
	color: #3498db;
	outline: none;
  padding: 13px 13px 13px 54px;
}

.focused{
	color:#30aed6;
	border:#30aed6 solid 3px;
}

/* Icons ---------------------------------- */
#cedula{
	/*background-image: url(images/name.svg);*/
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

.p {
	margin-top: 7px; font-weight: 600; margin-left: 43px
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	background-color:white;
}

#button-blue{
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	float:left;
	width: 100%;
	border: #fbfbfb solid 4px;
	cursor:pointer;
	background-color: #3498db;
	color:white;
	font-size:24px;
	padding-top:22px;
	padding-bottom:22px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}

#button-blue:hover{
	background-color: rgba(0,0,0,0);
	color: #0493bd;
}
	
.submit:hover {
	color: #3498db;
}
	
.ease {
	width: 0px;
	height: 74px;
	background-color: #fbfbfb;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:white;
}

@media only screen and (max-width: 580px) {
	#form-div{
		left: 3%;
		margin-right: 3%;
		width: 88%;
		margin-left: 0;
		padding-left: 3%;
		padding-right: 3%;
	}
}
